name: GO get and vet

on: [push]

jobs:
  test:
    name: Run GO get and vet
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: '1.17'
      - name: go get 
        run: go get -v -t -d ./...
      - name: go vet
        run: go vet -v $(go list ./...)
